<div class="col-xs-12 mx-auto tm-about-text-wrap" id="poli" style="width: 100%;">



  <!------------------------------------------------------>

  <div title="header">
    <p style="margin-bottom: 0.46in; page-break-before: auto; page-break-after: auto">
      <br>

    </p>
  </div>
  <h2 style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="center">
    <font face="Guell, serif"><b>POLÍTICA DE PRIVACIDAD</b></font>
  </h2>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <ol>
    <li>
      <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
        <font face="Guell, serif"><b>INFORMACIÓN GENERAL Y
            RESPONSABLE DEL TRATAMIENTO </b></font>
      </p>
    </li>
  </ol>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <font face="Guell, serif">El presente texto contiene la
      política de privacidad (en adelante, la “</font>
    <font face="Guell, serif"><b>Política
        de Privacidad</b></font>
    <font face="Guell, serif">”)
      aplicada a sus datos personales en el Sitio Web</font>
    <font face="Guell, serif"><i>
      </i></font><a href="https://caminoacustico.com/">
      <font color="#1155cc">
        <font face="Guell, serif"><i><u>https://caminoacustico.com/</u></i></font>
      </font>
    </a>
    <font face="Guell, serif">
      (en adelante, denominado como el “</font>
    <font face="Guell, serif"><b>Sitio
        Web</b></font>
    <font face="Guell, serif">”), titularidad
      de CAMINO ACUSTICO, SOCIEDAD LIMITADA, (en adelante, el
      “</font>
    <font face="Guell, serif"><b>Responsable</b></font>
    <font face="Guell, serif">”).
      Todos los textos legales se encuentran a disposición de los usuarios
      y/o interesados en la Plataforma. Dichos textos podrán ser
      modificados y/o actualizados según las necesidades y actividades
      llevadas a cabo por CAMINO ACUSTICO, SOCIEDAD LIMITADA.</font>
  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <ol start="2">
    <li>
      <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
        <font face="Guell, serif"><b>IDENTIFICACIÓN DEL
            RESPONSABLE DEL TRATAMIENTO DE LOS DATOS</b></font>
      </p>
    </li>
  </ol>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <font face="Guell, serif">CAMINO ACUSTICO,
      SOCIEDAD LIMITADA es el responsable de la recogida y procesamiento de
      sus datos personales en relación con los con los servicios que la
      misma presta.</font>
  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <font face="Guell, serif">El Responsable se compromete a
      respetar y salvaguardar su privacidad y la seguridad de sus datos.
      Los datos identificativos del responsable del tratamiento son: </font>
  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <ol start="3">
    <li>
      <p style="line-height: 115%; page-break-inside: auto; orphans: 2; widows: 2; margin-bottom: 0in; border: none; padding: 0in; background: transparent; page-break-before: auto; page-break-after: auto"
        align="justify">
        <font face="Guell, serif"><b>DATOS QUE SON OBJETO DE
            TRATAMIENTO</b></font>
      </p>
    </li>
  </ol>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <font face="Guell, serif">El Responsable trata los
      siguientes datos de carácter personal a los que accede por las
      siguientes vías:</font>
  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <ol type="a">
    <li>
      <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
        <font face="Guell, serif"><b>Directos del Usuario</b></font>
        <font face="Guell, serif">:
          Si el Usuario está interesado en adquirir contenido en el Sitio web o app,
          los datos que nos proporciona son los siguientes:</font>
      </p>
    </li>
  </ol>
  <ul>
    <li>
      <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
        <font face="Guell, serif">Datos identificativos: nombre
          y apellidos de la persona física, dirección postal correo
          electrónico de contacto y teléfono.</font>
      </p>
    </li>
  </ul>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <ol type="a" start="2">
    <li>
      <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
        <font face="Guell, serif"><b>Datos asociados a la
            Política de Cookies</b></font>
        <font face="Guell, serif">:
          para ello, consulte aquí nuestra política de cookies de la
          Plataforma.</font>
      </p>
    </li>
  </ol>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <ol type="a" start="3">
    <li>
      <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
        <font face="Guell, serif"><b>Datos de sus comunicaciones
            con el Sitio Web</b></font>
        <font face="Guell, serif">:
          al enviarnos una comunicación, recogemos los metadatos de la misma
          (hora y fecha del e-mail, identidad del emisor y receptor, datos
          técnicos) y los datos incorporados en cualquier comunicación entre
          el Usuario y el Responsable). </font>
      </p>
    </li>
  </ol>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <font face="Guell, serif">El Usuario garantiza la
      autenticidad y veracidad de todos aquellos datos (especialmente pero
      no únicamente aquellos que sean datos de carácter personal) que
      comunique a través del Sitio Web, que son datos de carácter
      personal y la propia imagen de su persona o que tiene permiso del
      interesado para emplear dichos datos, y que mantendrá actualizada la
      información facilitada a el Responsable, de forma que responda en
      todo momento a su situación real, siendo el único responsable de
      las manifestaciones falsas o inexactas que realice, así como de los
      perjuicios que cause por ello al Responsable o a terceros.</font>
  </p>
  <p style="margin-bottom: 0in" align="justify"><br>

  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <ol start="4">
    <li>
      <p style="line-height: 115%; page-break-inside: auto; orphans: 2; widows: 2; margin-bottom: 0in; border: none; padding: 0in; background: transparent; page-break-before: auto; page-break-after: auto"
        align="justify">
        <font face="Guell, serif"><b>PROCEDENCIA, FINALIDAD Y
            LEGITIMACIÓN PARA TRATAR LOS DATOS PERSONALES </b></font>
      </p>
    </li>
  </ol>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <font face="Guell, serif">De acuerdo con lo dispuesto en
      la normativa vigente, y concretamente por aplicación del Principio
      de Minimización de datos, el Responsable sólo recoge los datos
      estrictamente adecuados, pertinentes y limitados para ofrecer los
      servicios derivados de su actividad y demás prestaciones, gestiones
      y actividades atribuidas por la Ley. Sus datos personales sólo se
      utilizarán para la realización de las siguientes actividades:</font>
  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <ol type="a">
    <li>
      <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
        <font face="Guell, serif"><b>En relación al perfil
            “Usuario”</b></font>
      </p>
    </li>
  </ol>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <table style="width: 100%;" cellspacing="0" cellpadding="7">
    <colgroup>
      <col width="286">

      <col width="286">

    </colgroup>
    <tbody>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0">
            <font face="Guell, serif">Procedencia</font>
          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0" align="justify">
            <font face="Guell, serif">Del propio Interesado a
              través del formulario de adquisición de contenido propuesto.</font>
          </p>
        </td>
      </tr>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0">
            <font face="Guell, serif">Base Jurídica</font>
          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0" align="justify">
            <font face="Guell, serif">Reglamento General de
              Protección de Datos, en particular: Art. 6.1.b): ejecución de
              un contrato en el que el interesado es parte.</font>
          </p>
        </td>
      </tr>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0">
            <font face="Guell, serif">Fines de tratamiento</font>
          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0" align="justify">
            <font face="Guell, serif">Prestar el servicio
              requerido por el interesado.</font>
          </p>
        </td>
      </tr>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0">
            <font face="Guell, serif">Colectivo</font>
          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0" align="justify">
            <font face="Guell, serif">Personas físicas, incluidas
              las representantes de personas jurídicas, Interesados en los
              servicios de CAMINO ACUSTICO, SOCIEDAD LIMITADA.</font>
          </p>
        </td>
      </tr>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0">
            <font face="Guell, serif">Categoría de datos</font>
          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0" align="justify">
            <font face="Guell, serif">Nombre, dirección de correo
              electrónico, teléfono, dirección postal así como cualquier
              otra información a la que el Responsable pueda tener acceso con
              motivo de la prestación del servicio.</font>
          </p>
        </td>
      </tr>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0">
            <font face="Guell, serif">Destinatarios</font>
          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0" align="justify">
            <font face="Guell, serif">No está prevista la cesión
              de datos a terceros, salvo obligación legal o previo
              consentimiento inequívoco e informado del interesado.</font>
          </p>
        </td>
      </tr>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0">
            <font face="Guell, serif">Transferencia internacional</font>
          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0" align="justify">
            <font face="Guell, serif">No está prevista la
              transferencia internacional de datos.</font>
          </p>
        </td>
      </tr>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0">
            <font face="Guell, serif">Plazos de conservación</font>
          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0" align="justify">
            <font face="Guell, serif">Los datos serán conservados
              hasta que haya acabado la finalidad para la que fueron recabados,
              salvo que los datos deban mantenerse por una obligación legal.</font>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <ol type="a" start="2">
    <li>
      <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
        <font face="Guell, serif"><b>Contacto vía e-mail</b></font>
      </p>
    </li>
  </ol>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <table style="width: 100%;" cellspacing="0" cellpadding="7">
    <colgroup>
      <col width="286">

      <col width="286">

    </colgroup>
    <tbody>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0">
            <font face="Guell, serif">Procedencia</font>
          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0" align="justify">
            <font face="Guell, serif">Del propio Interesado a
              través del formulario de adquisición de contenido propuesto.</font>
          </p>
        </td>
      </tr>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0">
            <font face="Guell, serif">Base Jurídica</font>
          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0" align="justify">
            <font face="Guell, serif">Reglamento General de
              Protección de Datos, en particular: Art. 6.1.b): ejecución de
              un contrato en el que el interesado es parte.</font>
          </p>
        </td>
      </tr>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0">
            <font face="Guell, serif">Fines de tratamiento</font>
          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0" align="justify">
            <font face="Guell, serif">Atender y responder las
              consultas solicitadas por el Interesado.</font>
          </p>
        </td>
      </tr>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0">
            <font face="Guell, serif">Colectivo</font>
          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0" align="justify">
            <font face="Guell, serif">Personas físicas, incluidas
              las representantes de personas jurídicas, Interesados en los
              servicios de El Resposable.</font>
          </p>
        </td>
      </tr>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0">
            <font face="Guell, serif">Categoría de datos</font>
          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0">
            <font face="Guell, serif">Nombre, dirección de correo
              electrónico, teléfono, así como el resto de los datos que el
              propio Interesado indique en el cuerpo del mensaje.</font>
          </p>
        </td>
      </tr>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0">
            <font face="Guell, serif">Destinatarios</font>
          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0" align="justify">
            <font face="Guell, serif">No está prevista la cesión
              de datos a terceros, salvo obligación legal o previo
              consentimiento inequívoco e informado del interesado.</font>
          </p>
        </td>
      </tr>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0">
            <font face="Guell, serif">Transferencia internacional</font>
          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0" align="justify">
            <font face="Guell, serif">No está prevista la
              transferencia internacional de datos.</font>
          </p>
        </td>
      </tr>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0; margin-bottom: 0in">
            <font face="Guell, serif">Plazos de conservación</font>
          </p>
          <p style="orphans: 0; widows: 0"><br>

          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0" align="justify">
            <font face="Guell, serif">Los datos serán conservados
              hasta que haya acabado la finalidad para la que fueron recabados,
              salvo que los datos deban mantenerse por una obligación legal.</font>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <ol type="a" start="3">
    <li>
      <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
        <font face="Guell, serif"><b>Newsletter</b></font>
      </p>
    </li>
  </ol>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <table style="width: 100%;" cellspacing="0" cellpadding="7">
    <colgroup>
      <col width="286">

      <col width="286">

    </colgroup>
    <tbody>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0">
            <font face="Guell, serif">Procedencia</font>
          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0" align="justify">
            <font face="Guell, serif">Del propio Interesado a
              través del formulario de registro propuesto.</font>
          </p>
        </td>
      </tr>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0">
            <font face="Guell, serif">Base Jurídica</font>
          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0" align="justify">
            <font face="Guell, serif">Reglamento General de
              Protección de Datos, en particular: Art. 6.1.a): consentimiento
              del interesado para uno o varios fines específicos.</font>
          </p>
        </td>
      </tr>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0">
            <font face="Guell, serif">Fines de tratamiento</font>
          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0" align="justify">
            <font face="Guell, serif">Envío de información
              relativa a los nuevos productos y ofertas.</font>
          </p>
        </td>
      </tr>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0">
            <font face="Guell, serif">Colectivo</font>
          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0" align="justify">
            <font face="Guell, serif">Personas físicas, incluidas
              las representantes de personas jurídicas, Interesados en los
              servicios de CAMINO ACUSTICO, SOCIEDAD LIMITADA.</font>
          </p>
        </td>
      </tr>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0">
            <font face="Guell, serif">Categoría de datos</font>
          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0" align="justify">
            <font face="Guell, serif">Nombre, dirección de correo
              electrónico, así como el resto de los datos que el propio
              Interesado indique en el formulario de registro a la newsletter.</font>
          </p>
        </td>
      </tr>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0">
            <font face="Guell, serif">Destinatarios</font>
          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0" align="justify">
            <font face="Guell, serif">No está prevista la cesión
              de datos a terceros, salvo obligación legal o previo
              consentimiento inequívoco e informado del interesado.</font>
          </p>
        </td>
      </tr>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0">
            <font face="Guell, serif">Transferencia internacional</font>
          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0" align="justify">
            <font face="Guell, serif">No está prevista la
              transferencia internacional de datos.</font>
          </p>
        </td>
      </tr>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0; margin-bottom: 0in">
            <font face="Guell, serif">Plazos de conservación</font>
          </p>
          <p style="orphans: 0; widows: 0"><br>

          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0.07in" width="286">
          <p style="orphans: 0; widows: 0" align="justify">
            <font face="Guell, serif">Los datos serán conservados
              hasta que haya acabado la finalidad para la que fueron recabados,
              salvo que los datos deban mantenerse por una obligación legal.</font>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <ol start="5">
    <li>
      <p style="line-height: 115%; page-break-inside: auto; orphans: 2; widows: 2; margin-bottom: 0in; border: none; padding: 0in; background: transparent; page-break-before: auto; page-break-after: auto"
        align="justify">
        <font face="Guell, serif"><b>PERIODO DE CONSERVACIÓN DE
            LOS DATOS</b></font>
      </p>
    </li>
  </ol>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <font face="Guell, serif">CAMINO ACUSTICO,
      SOCIEDAD LIMITADA tratará sus datos personales durante el periodo
      necesario para cumplir con los fines establecidos en esta Política
      de Privacidad, así como para conservar su información personal en
      cumplimiento de las disposiciones de las leyes y normativas
      pertinentes, especialmente en relación a los plazos legales de
      prescripción, y para la formulación, ejercicio o defensa de
      reclamaciones. </font>
  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <font face="Guell, serif">El criterio que seguimos para
      ello viene determinado por; (a) la finalidad de los datos recopilados
      y el cumplimiento de dicho fin (p.ej. mientras se mantenga nuestra
      relación); (b) las razones por las cuales los datos se recopilan (p.
      ej., en caso de consentimiento, usted puede revocarlo en cualquier
      momento); y (c) periodos de almacenamiento obligados según los
      requisitos contractuales y normativos. </font>
  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <font face="Guell, serif">Tenga presente que, en algunos
      casos, podremos conservar sus datos durante el plazo necesario para
      la formulación, ejercicio o defensa de reclamaciones,
      requerimientos, responsabilidades y obligaciones legales o fiscales,
      contractuales o deontológicas, siempre estando debidamente
      bloqueados.</font>
  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <ol start="6">
    <li>
      <p style="line-height: 115%; page-break-inside: auto; orphans: 2; widows: 2; margin-bottom: 0in; border: none; padding: 0in; background: transparent; page-break-before: auto; page-break-after: auto"
        align="justify">
        <font face="Guell, serif"><b>DESTINATARIOS DE LA
            COMUNICACIÓN DE DATOS</b></font>
      </p>
    </li>
  </ol>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <font face="Guell, serif">Sus datos personales no serán
      comunicados a terceros sin su consentimiento expreso. No obstante,
      dependiendo de los fines para los que se recopila la información
      personal, pueden acceder a dicha información, indistintamente, las
      siguientes personas:</font>
  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <ul>
    <li>
      <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
        <font face="Guell, serif">Empleados y/o colaboradores
          autorizados, siempre sujetos a las normas de protección de datos
          que resulten de aplicación;</font>
      </p>
    </li>
    <li>
      <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
        <font face="Guell, serif">Organismos y/o Autoridades
          competentes y, las fuerzas y cuerpos de seguridad pertinentes, en
          supuestos que exista un requerimiento y/o una obligación legal. </font>
      </p>
    </li>
    <li>
      <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
        <font face="Guell, serif">Terceros proveedores de
          servicios que tratan información como encargados del tratamiento de
          datos. En concreto:</font>
      </p>
      <ul>
        <li>
          <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
            <font face="Guell, serif">Servidor base de datos :
              Scalegrid (https://scalegrid.io/)</font>
          </p>
        </li>
        <li>
          <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
            <font face="Guell, serif">Servidor cloud aplicación:
              Digital Ocean (https://www.digitalocean.com/)</font>
          </p>
        </li>
        <li>
          <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
            <font face="Guell, serif">Sistema de autorización de
              cuentas: Auth0 (https://auth0.com/)</font>
          </p>
        </li>
      </ul>
    </li>
  </ul>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <ol start="7">
    <li>
      <p style="line-height: 115%; page-break-inside: auto; orphans: 2; widows: 2; margin-bottom: 0in; border: none; padding: 0in; background: transparent; page-break-before: auto; page-break-after: auto"
        align="justify">
        <font face="Guell, serif"><b>DERECHOS DE LAS PERSONAS
            INTERESADAS</b></font>
      </p>
    </li>
  </ol>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <font face="Guell, serif">Cualquier persona, ya sea
      física o jurídica, puede solicitar el ejercicio de los siguientes
      derechos, en materia de protección de datos, ante el Responsable
      presentando un escrito a la dirección postal del encabezamiento o
      enviando un correo electrónico al Responsable indicando como asunto:
      “RGPD: Derechos del interesado”, adjuntando fotocopia del DNI o
      cualquier medio análogo en derecho, tal y como indica la ley: </font>
  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <ul>
    <li>
      <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
        <font face="Guell, serif"><b>Derecho de acceso</b></font>
        <font face="Guell, serif">:
          permite al interesado conocer y obtener información sobre sus datos
          de carácter personal sometidos a tratamiento.</font>
      </p>
    </li>
    <li>
      <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
        <font face="Guell, serif"><b>Derecho de rectificación o
            supresión</b></font>
        <font face="Guell, serif">: permite
          corregir errores y modificar los datos que resulten ser inadecuados
          o excesivos.</font>
      </p>
    </li>
    <li>
      <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
        <font face="Guell, serif"><b>Derecho de oposición</b></font>
        <font face="Guell, serif">:
          derecho del interesado a que no se lleve a cabo el tratamiento de
          sus datos de carácter personal o se cese en el mismo. </font>
      </p>
    </li>
    <li>
      <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
        <font face="Guell, serif"><b>Limitación del
            tratamiento</b></font>
        <font face="Guell, serif">:
          conlleva el marcado de los datos personales conservados, con la
          finalidad de limitar su futuro tratamiento.</font>
      </p>
    </li>
    <li>
      <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
        <font face="Guell, serif"><b>Portabilidad de los datos</b></font>
        <font face="Guell, serif">:
          facilitación de los datos objeto de tratamiento al interesado, a
          fin de que éste pueda transmitirlos a otro responsable, sin
          impedimentos. </font>
      </p>
    </li>
    <li>
      <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
        <font face="Guell, serif"><b>Derecho a no ser objeto de
            decisiones individuales automatizadas (incluida la elaboración de
            perfiles)</b></font>
        <font face="Guell, serif">: derecho
          a no ser objeto de una decisión basada en el tratamiento
          automatizado que produzca efectos o afecte significativamente. </font>
      </p>
    </li>
  </ul>
  <p style="margin-left: 0.5in; margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <font face="Guell, serif">Como usuario, tiene derecho a
      retirar el consentimiento prestado en cualquier momento. La retirada
      del consentimiento no afectará a la licitud del tratamiento
      efectuado antes de la retirada del consentimiento. También tiene
      derecho a presentar una reclamación ante la autoridad de control si
      considera que pueden haberse visto vulnerados sus derechos con
      relación a la protección de sus datos ante la Agencia Española de
      Protección de Datos (</font><a href="http://www.aepd.es/">
      <font color="#1155cc">
        <font face="Guell, serif"><u>www.aepd.es</u></font>
      </font>
    </a>
    <font face="Guell, serif">)</font>
  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <ol start="8">
    <li>
      <p style="line-height: 115%; page-break-inside: auto; orphans: 2; widows: 2; margin-bottom: 0in; border: none; padding: 0in; background: transparent; page-break-before: auto; page-break-after: auto"
        align="justify">
        <font face="Guell, serif"><b>ACEPTACIÓN DE LA POLÍTICA
            DE PRIVACIDAD</b></font>
      </p>
    </li>
  </ol>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <font face="Guell, serif">El Interesado reconoce y acepta
      haber leído y comprendido la presente Política de Privacidad cuyo
      contenido constituye la totalidad del acuerdo entre el Interesado y
      el Responsable con respecto al uso y tratamiento de su información
      personal. El Interesado expresamente acepta obligarse en los términos
      de la presente Política de Privacidad, en toda su extensión y
      alcance, sin exceptuar cualquiera de sus disposiciones.</font>
  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <ol start="9">
    <li>
      <p style="line-height: 115%; page-break-inside: auto; orphans: 2; widows: 2; margin-bottom: 0in; border: none; padding: 0in; background: transparent; page-break-before: auto; page-break-after: auto"
        align="justify">
        <font face="Guell, serif"><b>ACTUALIZACIÓN DE LA
            PRESENTE POLÍTICA DE PRIVACIDAD</b></font>
      </p>
    </li>
  </ol>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <font face="Guell, serif">El Responsable se reserva el
      derecho a modificar la presente política para adaptarla a novedades
      legislativas o jurisprudenciales. </font>
  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <font face="Guell, serif">En cualquier caso, la
      modificación de la Política de Privacidad será notificada a los
      usuarios por correo electrónico.</font>
  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <ol start="10">
    <li>
      <p style="line-height: 115%; page-break-inside: auto; orphans: 2; widows: 2; margin-bottom: 0in; border: none; padding: 0in; background: transparent; page-break-before: auto; page-break-after: auto"
        align="justify">
        <font face="Guell, serif"><b>LEGISLACIÓN </b></font>
      </p>
    </li>
  </ol>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <font face="Guell, serif">A todos los efectos, las
      relaciones entre el Responsable con todos los Usuarios de sus
      servicios, presentes en la Plataforma, están sometidos a la
      legislación y jurisdicción española a la que se someten
      expresamente las partes, siendo competentes por la resolución de
      todos los conflictos derivados o relacionados con su uso los Juzgados
      y Tribunales de Barcelona.</font>
  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <br>

  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto" align="justify">
    <font face="Guell, serif">Actualizado el 19 de junio de
      2023</font>
  </p>
  <p style="margin-bottom: 0in; page-break-before: auto; page-break-after: auto">
    <br>

  </p>

  <!------------------------------------------------------>


</div>