<div class="col-xs-12 mx-auto tm-about-text-wrap" id="poli" style="width: 100%;">

  <h3 style="line-height: 0.19in; margin-bottom: 0in" align="center">
    <font color="#000000">
      <font face="Guell, serif"><span style="letter-spacing: normal"><b><span style="background: transparent">Política
              de cookies</span></b></span></font>
    </font>
  </h3><br>
  <p style="line-height: 0.17in; margin-bottom: 0.14in" align="justify">
    <font color="#000000">
      <font face="Guell, serif">
        <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><b><span
                style="background: transparent">¿Qué
                es una ‘cookie’?</span></b></span></font>
      </font>
    </font>
  </p>
  <p style="line-height: 0.17in; margin-bottom: 0.14in" align="justify">
    <font color="#000000">
      <font face="Guell, serif">
        <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
              style="background: transparent">Una
              cookie es un archivo que se descarga en su equipo
              terminal/dispositivo (ordenador o teléfono móvil) con la finalidad
              de almacenar datos que podrán ser actualizados y recuperados por la
              entidad responsable de su instalación. Nuestro Sitio Web utiliza
              “cookies” con la finalidad de poder recabar información acerca
              de su funcionamiento y uso por los usuarios del mismo.</span></span></font>
      </font>
    </font>
  </p>
  <p style="line-height: 0.17in; margin-bottom: 0.14in" align="justify">
    <font color="#000000">
      <font face="Guell, serif">
        <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><b><span
                style="background: transparent">Finalidad</span></b></span></font>
      </font>
    </font>
  </p>
  <p style="line-height: 0.17in; margin-bottom: 0.14in" align="justify">
    <font color="#000000">
      <font face="Guell, serif">
        <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
              style="background: transparent">Las
              cookies pueden recabar información sobre sus visitas al Sitio Web,
              la frecuencia y duración de las mismas, las páginas visionadas y el
              tiempo que ha estado en nuestro Sitio Web. Le informamos de que
              podemos utilizar cookies con la finalidad de:</span></span></font>
      </font>
    </font>
  </p>
  <ul>
    <li>
      <p style="line-height: 0.17in; margin-bottom: 0in" align="justify">
        <font color="#000000">
          <font face="Guell, serif">
            <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
                  style="background: transparent">Identificar
                  problemas para mejorar el Sitio Web.</span></span></font>
          </font>
        </font>
      </p>
    </li>
    <li>
      <p style="line-height: 0.17in; margin-bottom: 0in" align="justify">
        <font color="#000000">
          <font face="Guell, serif">
            <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
                  style="background: transparent">Identificar
                  problemas para mejorar el Sitio Web.</span></span></font>
          </font>
        </font>
      </p>
    </li>
    <li>
      <p style="line-height: 0.17in; margin-bottom: 0in" align="justify">
        <font color="#000000">
          <font face="Guell, serif">
            <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
                  style="background: transparent">Proporcionarle
                  una mejor experiencia en el uso del Sitio Web.</span></span></font>
          </font>
        </font>
      </p>
    </li>
    <li>
      <p style="line-height: 0.17in; margin-bottom: 0.14in" align="justify">
        <font color="#000000">
          <font face="Guell, serif">
            <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
                  style="background: transparent">Distinguirle
                  de otros usuarios.</span></span></font>
          </font>
        </font>
      </p>
    </li>
  </ul>
  <p style="line-height: 0.17in; margin-bottom: 0.14in" align="justify">
    <font color="#000000">
      <font face="Guell, serif">
        <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
              style="background: transparent">Asimismo,
              solicitamos su consentimiento para utilizar cookies que nos permitan
              obtener más información acerca de sus preferencias y personalizar
              el Sitio Web para ajustarlo a sus intereses.</span></span></font>
      </font>
    </font>
  </p>
  <p style="letter-spacing: normal; line-height: 0.17in; margin-bottom: 0.14in" align="justify">
    <br>
    <br>

  </p>
  <p style="line-height: 0.17in; margin-bottom: 0.14in" align="justify">
    <font color="#000000">
      <font face="Guell, serif">
        <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><b><span
                style="background: transparent">Clases
                de cookies utilizadas</span></b></span></font>
      </font>
    </font>
  </p>
  <p style="line-height: 0.17in; margin-bottom: 0.14in" align="justify">
    <font color="#000000">
      <font face="Guell, serif">
        <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
              style="background: transparent">Nuestro
              Sitio Web utiliza cookies propias y de terceros, con diferentes
              finalidades, concretamente:</span></span></font>
      </font>
    </font>
  </p>
  <ul>
    <li>
      <p style="line-height: 0.17in; margin-bottom: 0.14in" align="justify">
        <font color="#000000">
          <font face="Guell, serif">
            <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
                  style="background: transparent">Cookies
                  de sesión: </span></span></font>
          </font>
        </font>
      </p>
    </li>
  </ul>
  <p style="line-height: 0.17in; margin-left: 0.5in; margin-bottom: 0.14in" align="justify">
    <font color="#000000">
      <font face="Guell, serif">
        <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
              style="background: transparent">Son
              un tipo de cookies diseñadas para recabar y almacenar datos mientras
              accede a nuestro Sitio Web y permanecen en el archivo de cookies de
              su navegador hasta que abandone la página. Como por ejemplo las
              cookies de identificación. </span></span></font>
      </font>
    </font>
  </p>
  <ul>
    <li>
      <p style="line-height: 0.17in; margin-bottom: 0.14in" align="justify">
        <font color="#000000">
          <font face="Guell, serif">
            <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
                  style="background: transparent">Cookies
                  persistentes: </span></span></font>
          </font>
        </font>
      </p>
    </li>
  </ul>
  <p style="line-height: 0.17in; margin-left: 0.5in; margin-bottom: 0.14in" align="justify">
    <font color="#000000">
      <font face="Guell, serif">
        <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
              style="background: transparent">Son
              un tipo de cookies en el que los datos siguen almacenados en el
              terminal y pueden ser accedidos y tratados durante un periodo
              determinado de tiempo. Según su finalidad y la entidad que las
              gestiona: </span></span></font>
      </font>
    </font>
  </p>
  <ul>
    <li>
      <p style="line-height: 0.17in; margin-bottom: 0.14in" align="justify">
        <font color="#000000">
          <font face="Guell, serif">
            <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
                  style="background: transparent">Cookies
                  propias:</span></span></font>
          </font>
        </font>
      </p>
    </li>
  </ul>
  <p style="line-height: 0.17in; margin-left: 0.5in; margin-bottom: 0.14in" align="justify">
    <font color="#000000">
      <font face="Guell, serif">
        <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
              style="background: transparent">Son
              aquellas que enviamos a su ordenador o terminal desde nuestro Sitio
              Web. </span></span></font>
      </font>
    </font>
  </p>
  <ul>
    <li>
      <p style="line-height: 0.17in; margin-bottom: 0.14in" align="justify">
        <font color="#000000">
          <font face="Guell, serif">
            <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
                  style="background: transparent">Cookies
                  de terceros: </span></span></font>
          </font>
        </font>
      </p>
    </li>
  </ul>
  <p style="line-height: 0.17in; margin-left: 0.5in; margin-bottom: 0.14in" align="justify">
    <font color="#000000">
      <font face="Guell, serif">
        <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
              style="background: transparent">Son
              aquéllas que se envían a su ordenador o terminal desde un dominio o
              una página web que no es gestionada por nosotros, sino por una
              entidad colaboradora. Como por ejemplo, las usadas por Google quien
              instala cookies que nos ayudan a analizar el funcionamiento de
              nuestro sitio web, y mejorar la efectividad de nuestras campañas de
              marketing. </span></span></font>
      </font>
    </font>
  </p>
  <ul>
    <li>
      <p style="line-height: 0.17in; margin-bottom: 0.14in" align="justify">
        <font color="#000000">
          <font face="Guell, serif">
            <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
                  style="background: transparent">Cookies
                  técnicas: </span></span></font>
          </font>
        </font>
      </p>
    </li>
  </ul>
  <p style="line-height: 0.17in; margin-left: 0.5in; margin-bottom: 0.14in" align="justify">
    <font color="#000000">
      <font face="Guell, serif">
        <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
              style="background: transparent">Son
              aquellas necesarias para la navegación y el buen funcionamiento de
              nuestro Sitio Web. Por ejemplo, permiten realizar el proceso de
              escaneo, controlar los aspectos de seguridad de la web o Aplicación,
              compartir contenidos a través de redes sociales, etcétera. </span></span></font>
      </font>
    </font>
  </p>
  <ul>
    <li>
      <p style="line-height: 0.17in; margin-bottom: 0.14in" align="justify">
        <font color="#000000">
          <font face="Guell, serif">
            <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
                  style="background: transparent">Cookies
                  de análisis:</span></span></font>
          </font>
        </font>
      </p>
    </li>
  </ul>
  <p style="line-height: 0.17in; margin-left: 0.5in; margin-bottom: 0.14in" align="justify">
    <font color="#000000">
      <font face="Guell, serif">
        <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
              style="background: transparent">Son
              aquéllas que bien tratadas por nosotros o por terceros, nos permiten
              cuantificar el número de usuarios y realizar la medición y análisis
              estadístico de la utilización que hacen los usuarios de nuestro
              Sitio Web. Para ello analizamos la navegación en nuestro Sitio Web
              con el fin de mejorar la oferta de productos o servicios que
              ofrecemos. </span></span></font>
      </font>
    </font>
  </p>
  <p style="line-height: 0.17in; margin-bottom: 0.14in" align="justify">
    <font color="#000000">
      <font face="Guell, serif">
        <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
              style="background: transparent">Las
              cookies utilizadas por esta Plataforma, de forma concreta, así como
              su finalidad se describen a continuación:</span></span></font>
      </font>
    </font>
  </p>
  <p style="letter-spacing: normal; line-height: 0.17in; margin-bottom: 0.14in" align="justify">
    <br>
    <br>

  </p>
  <table style="width: 100%;" cellspacing="0" cellpadding="7">
    <colgroup>
      <col width="186">

      <col width="187">

      <col width="186">

    </colgroup>
    <tbody>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0in 0.07in" width="186">
          <p style="orphans: 0; widows: 0" align="center">
            <font color="#000000">
              <font face="Guell, serif">
                <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><b><span
                        style="background: transparent">Nombre</span></b></span></font>
              </font>
            </font>
          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0in 0.07in" width="187">
          <p style="orphans: 0; widows: 0" align="center">
            <font color="#000000">
              <font face="Guell, serif">
                <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><b><span
                        style="background: transparent">Finalidad</span></b></span></font>
              </font>
            </font>
          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0in 0.07in" width="186">
          <p style="orphans: 0; widows: 0" align="center">
            <font color="#000000">
              <font face="Guell, serif">
                <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><b><span
                        style="background: transparent">Duración</span></b></span></font>
              </font>
            </font>
          </p>
        </td>
      </tr>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0in 0.07in" width="186">
          <p style="letter-spacing: normal; orphans: 0; widows: 0" align="left">
            <br>

          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0in 0.07in" width="187">
          <p style="letter-spacing: normal; orphans: 0; widows: 0" align="left">
            <br>

          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0in 0.07in" width="186">
          <p style="letter-spacing: normal; orphans: 0; widows: 0" align="left">
            <br>

          </p>
        </td>
      </tr>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0in 0.07in" width="186">
          <p style="letter-spacing: normal; orphans: 0; widows: 0" align="left">
            <br>

          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0in 0.07in" width="187">
          <p style="letter-spacing: normal; orphans: 0; widows: 0" align="left">
            <br>

          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0in 0.07in" width="186">
          <p style="letter-spacing: normal; orphans: 0; widows: 0" align="left">
            <br>

          </p>
        </td>
      </tr>
      <tr valign="top">
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0in 0.07in" width="186">
          <p style="letter-spacing: normal; orphans: 0; widows: 0" align="left">
            <br>

          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0in 0.07in" width="187">
          <p style="letter-spacing: normal; orphans: 0; widows: 0" align="left">
            <br>

          </p>
        </td>
        <td style="background: transparent; border: 1.00pt solid #000000; padding: 0in 0.07in" width="186">
          <p style="letter-spacing: normal; orphans: 0; widows: 0" align="left">
            <br>

          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="line-height: 0.17in; margin-bottom: 0.14in" align="justify">
    <font color="#000000">
      <font face="Guell, serif">
        <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><b><span
                style="background: transparent">Consentimiento</span></b></span></font>
      </font>
    </font>
  </p>
  <p style="line-height: 0.17in; margin-bottom: 0.14in" align="justify">
    <font color="#000000">
      <font face="Guell, serif">
        <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
              style="background: transparent">Al
              navegar y continuar en nuestro Sitio Web el Usuario no estará
              consintiendo el uso de las cookies antes enunciadas, en las
              condiciones contenidas en la presente Política de Cookies. Es
              preciso aceptarlas expresamente o rechazarlas. Para ello, al acceder
              por primera vez al Sitio Web, el Usuario visualizará un pop-up
              informativo en el cual se le informa debidamente que este Sitio Web
              utiliza cookies y puede configurarlas.</span></span></font>
      </font>
    </font>
  </p>
  <p style="line-height: 0.17in; margin-bottom: 0.14in" align="justify">
    <font color="#000000">
      <font face="Guell, serif">
        <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
              style="background: transparent">Le
              informamos de que, dado que las cookies no son necesarias para
              navegar en nuestro Sitio Web, puede bloquearlas o deshabilitarlas a
              través de la configuración de su navegador. Si las bloquea o
              deshabilita podrá seguir usando nuestro Sitio Web, aunque el uso de
              algunos de sus servicios podrá ser limitado y por tanto su
              experiencia en nuestro Sitio Web menos satisfactoria.</span></span></font>
      </font>
    </font>
  </p>
  <p style="line-height: 0.17in; margin-bottom: 0.14in" align="justify">
    <font color="#000000">
      <font face="Guell, serif">
        <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
              style="background: transparent">Si
              desea revocar su consentimiento informado respecto a nuestra política
              de cookies, deberá eliminarlas en su dispositivo a través de la
              configuración de sus navegadores de Internet. Estos son los enlaces
              de los distintos navegadores que informan sobre las cookies:</span></span></font>
      </font>
    </font>
  </p>
  <ul>
    <li>
      <p style="line-height: 0.17in; margin-bottom: 0in" align="justify">
        <a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias">
          <font color="#0000ff">
            <font face="Guell, serif">
              <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><u><span
                      style="background: transparent">Firefox</span></u></span></font>
            </font>
          </font>
        </a>
      </p>
    </li>
    <li>
      <p style="line-height: 0.17in; margin-bottom: 0in" align="justify">
        <a href="http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647">
          <font color="#0000ff">
            <font face="Guell, serif">
              <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><u><span
                      style="background: transparent">Chrome</span></u></span></font>
            </font>
          </font>
        </a>
      </p>
    </li>
    <li>
      <p style="line-height: 0.17in; margin-bottom: 0in" align="justify">
        <a href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9">
          <font color="#0000ff">
            <font face="Guell, serif">
              <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><u><span
                      style="background: transparent">Explorer</span></u></span></font>
            </font>
          </font>
        </a>
      </p>
    </li>
    <li>
      <p style="line-height: 0.17in; margin-bottom: 0in" align="justify">
        <a href="http://support.apple.com/kb/ph5042">
          <font color="#0000ff">
            <font face="Guell, serif">
              <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><u><span
                      style="background: transparent">Safari</span></u></span></font>
            </font>
          </font>
        </a>
      </p>
    </li>
    <li>
      <p style="line-height: 0.17in; margin-bottom: 0.14in" align="justify">
        <a href="http://help.opera.com/Windows/11.50/es-ES/cookies.html">
          <font color="#0000ff">
            <font face="Guell, serif">
              <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><u><span
                      style="background: transparent">Opera</span></u></span></font>
            </font>
          </font>
        </a>
      </p>
    </li>
  </ul>
  <p style="line-height: 0.17in; margin-bottom: 0.14in" align="justify">
    <font color="#000000">
      <font face="Guell, serif">
        <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
              style="background: transparent">Le
              recomendamos revisar esta política cada vez que acceda a nuestro
              Sitio Web con el objetivo de estar adecuadamente informado sobre
              posibles cambios en la misma.</span></span></font>
      </font>
    </font>
  </p>
  <p style="line-height: 0.17in; margin-bottom: 0.14in" align="justify">
    <font color="#000000">
      <font face="Guell, serif">
        <font style="font-size: 11pt" size="2"><span style="letter-spacing: normal"><span
              style="background: transparent">Actualizado
              el 15 de junio de 2023</span></span></font>
      </font>
    </font>
  </p>
  <p style="line-height: 0.19in; margin-bottom: 0in" align="justify"><br>

  </p>
</div>